APP_ENV=development
APP_PORT=8081
DATABASE_DSN=host=localhost user=postgres password=postgres dbname=auth_001 port=5432 sslmode=disable TimeZone=Asia/Bangkok
JWT_SECRET=change-me-please-use-32-plus-chars
JWT_ISSUER=https://global-commerce.com
JWT_DEFAULT_AUDIENCE=sku_module
JWT_TTL_MINUTES=1440
CORS_ALLOW_ORIGINS=http://localhost:3000
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=admin1234
SEED_ADMIN_DISPLAY_NAME=System Admin
SEED_MERCHANT_ID=mch_555666777
SEED_MERCHANT_NAME=Demo Merchant
SEED_CLIENT_ID=vendor_portal_web
SEED_SCOPES=sku:read,sku:create,sku:update,sku:delete,pos:create,pos:read
